<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= profile.photo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

</div>
