<div id="<%= dom_id profile %>" class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/uploads/<%= profile.photo %>" class="card-img-top" alt="User Photo" />
    <p>
      <strong>User:</strong>
      <%= profile.user.email %>
    </p>

    <p>
      <strong>Photo:</strong>
    </p>


    <p class="card-text">
      <strong>Bio:</strong>
      <%= profile.bio %>
    </p>
  </div>
</div>
