

            <div class='card'>
              <img src="/uploads/<%= photo.image%>" class='card-img-top' alt="Photo">
              <div class='card-body'>
                <p class='card-text'><%= photo.caption %></p>
                <small class='text-muted'>Uploaded by: <%= photo.user.email %></small>
                <small class='text-muted'>Uploaded on: <%= photo.created_at.strftime('%B %d, %Y') %></small>
              </div>
            </div>

